@model List<CartItem>
@if (TempData["status"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["status"]
    </div>
}
<div class="container">
    <h1>Sepet</h1>
    @if (Model != null && Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Miktar</th>
                    <th>Toplam Fiyat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Product.Name</td>
                        <td>@item.Product.Price TL</td>
                        <td>@item.Quantity</td>
                        <td>@(item.Product.Price * item.Quantity) TL</td>
                        <td>
                            <form asp-controller="Customer" asp-action="removefromcart" method="post">
                                <input type="hidden" name="cartItemId" value="@item.Id" />
                                <button type="submit" class="btn btn-danger">Sepetten Kaldır</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-end">
            <h5>Toplam Fiyat: <strong>@Model.Sum(item => item.Product.Price * item.Quantity) TL</strong></h5>
        </div>
        <div class="text-end">
            <a asp-controller="Checkout" asp-action="Index" class="btn btn-primary">Ödeme Yap</a>
        </div>
    }
    else
    {
        <p>Sepetinizde henüz ürün bulunmamaktadır.</p>
    }
</div>
