@model ProductViewModel
<div class="container d-flex">
	<aside>
		<img src="@(String.IsNullOrEmpty(Model.ImagePath) ? "/images/noimage.jpg" : "/images/"+Model.ImagePath )" class="rounded float-left" alt="product-ımg" style="width:500px; height:500px;">
	</aside>
	<section class="mx-5 col-md-4">
		<header>
			<h1 class="display-1">@(Model.Name)</h1>
			<h2 class="display-4">@(Model.CategoryName)/Kategori ismi</h2>
		</header>
		<section>
			<article>
				@(Model.Description)
			</article>
		</section>
		<main>
			Buraya Listeye ekle / Satın al/ ve adetli sepete ekle eklenecek
		</main>
	</section>
</div>
<div class="container mt-5">
	<aside class="row">
		<section class="col-md-4">
			<span>
				Yayınlanma Tarihi:(@(Model.PublishDate))
			</span>
			<br />
			<span>
				Stokta Kalan Adet:(@(Model.Quantity))
			</span>
		</section>
		<section class="col-md-4">
			<div class="container">
				<div class="rating">
					<input id="star-rating" name="rating" type="number" class="rating" min="1" max="4" step="0.5" data-size="lg">
				</div>

			</div>
		</section>
	</aside>
</div>
<div>
	Yorumlar divi partial view olarak gelecek
</div>
@section Scripts{
	<script type="text/javascript">
		$(document).ready(function () {
			$('#star-rating').rating({
				filledStar: '<i class="bi bi-star-fill"></i>',
				emptyStar: '<i class="bi bi-star"></i>'
			});
		});
	</script>
}