@model ProductViewModel

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/js/star-rating.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/css/star-rating.min.css">

    <script type="text/javascript">
        $(document).ready(function () {
            function loadComments(productId) {
                $("#loading").show();
                $.ajax({
                    type: "GET",
                    url: "/Customer/VisitorCommentList?productId=" + productId,
                    success: function (data) {
                        console.log(data);
                        $("#comments").empty(); // Yorumları temizle

                        $.each(data, function (index, item) {
                            let comment = `<div class="card mt-3">
                                                        <div class="card-body">
                                                            <div class="d-flex justify-content-between">
                                                                <h5 class="card-title">${item.name}</h5>
                                                                <div class="commentlist-rating" id="comment-rating-${index}" data-rating="${item.rating}"></div>
                                                            </div>
                                                            <h6 class="card-subtitle mb-2 text-muted">${item.created}</h6>
                                                            <p class="card-text">${item.comment}</p>
                                                        </div>
                                                    </div>`;
                            $("#comments").append(comment);
                        });

                        $(".commentlist-rating").each(function () {
                            var rating = $(this).data("rating");
                            $(this).rating({
                                displayOnly: true,
                                step: 0.5,
                                filledStar: '<i class="bi bi-star-fill"></i>',
                                emptyStar: '<i class="bi bi-star"></i>',
                                initialRating: rating
                            });
                        });

                        $("#loading").hide();
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }

            function saveComment(productId) {
                var name = $("#Name").val();
                var comment = $("#Comment").val();
                var rating = $(".rating-input:checked").val();
                var jsonData = {
                    "name": name,
                    "comment": comment,
                    "productId": productId,
                    "rating": rating
                };

                $.ajax({
                    type: "POST",
                    url: "/Customer/SaveVisitorComment",
                    data: jsonData,
                    success: function (data) {
                        if (data.IsSuccess) {
                            alert("Yorum kaydedildi");
                            $("#Comment").val(""); // Yorum alanını temizle
                            $(".rating-input").prop("checked", false); // Derecelendirmeyi temizle
                            loadComments(productId); // Yorumları güncelle
                            updateGeneralRating(productId); // Genel rating değerini güncelle
                        } else {
                            alert(data.Message);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }

            $("#btnSave").click(function () {
                var productId = $("#comments").data("product-id");
                saveComment(productId);
            });

            var productId = @Model.Id;
            loadComments(productId);
        });
    </script>
}

<div class="container d-flex">
    <aside>
        <img src="@(String.IsNullOrEmpty(Model.ImagePath) ? "/images/noimage.jpg" : "/images/"+Model.ImagePath )" class="rounded float-left" alt="product-ımg" style="width:500px; height:500px;">
    </aside>
    <section class="mx-5 col-md-4">
        <header>
            <h1 class="display-1">@(Model.Name)</h1>
            <h2 class="display-4">@(Model.CategoryName)/Kategori ismi</h2>
        </header>
        <section>
            <article>
                @(Model.Description)
            </article>
        </section>
        <main>
            Buraya Listeye ekle / Satın al/ ve adetli sepete ekle eklenecek
        </main>
    </section>
</div>

<div class="container mt-5">
    <aside class="row">
        <section class="col-md-4">
            <span>
                Yayınlanma Tarihi: @(Model.PublishDate)
            </span>
            <br />
            <span>
                Stokta Kalan Adet: @(Model.Quantity)
            </span>
        </section>
        <section class="col-md-4">
            <div class="container">
                <label for="general-rating">Genel puan:</label>
                <div id="general-rating" class="commentlist-rating" data-rating="@Model.Rating"></div>
            </div>
        </section>
    </aside>
</div>

<div class="mb-5">
    <div class="pb-3">
        <h3>Yorumlar</h3>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
        {
            <label for="Name" class="form-label">Kullanıcı:</label>
            <input class="form-control" id="Name" name="Name" value="@User.Identity.Name" readonly>
        }
        <label for="comment-rating-0">Puan ver:</label>
        <div class="rating" id="rating">
            <input class="rating-input" type="radio" id="rating-5" name="rating" value="5">
            <label for="rating-5" class="rating-star"></label>
            <input class="rating-input" type="radio" id="rating-4" name="rating" value="4">
            <label for="rating-4" class="rating-star"></label>
            <input class="rating-input" type="radio" id="rating-3" name="rating" value="3">
            <label for="rating-3" class="rating-star"></label>
            <input class="rating-input" type="radio" id="rating-2" name="rating" value="2">
            <label for="rating-2" class="rating-star"></label>
            <input class="rating-input" type="radio" id="rating-1" name="rating" value="1">
            <label for="rating-1" class="rating-star"></label>
        </div>
    </div>
    <div class="form-floating mb-3">
        <textarea id="Comment" name="Comment" class="form-control" placeholder="Yorum" style="height: 100px"></textarea>
        <label for="Comment">Yorum</label>
    </div>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
    {
        <button id="btnSave" type="button" class="btn btn-primary">Kaydet</button>
    }
    else
    {
        <p>Giriş yaparak yorum yapabilirsiniz.</p>
    }

    <div id="loading">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div id="comments" data-product-id="@Model.Id">
    </div>
</div>
