@model ProductViewModel
@if (TempData["status"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["status"]
    </div>
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function loadComments(productId) {
                $.ajax({
                    type: "GET",
                    url: "/Customer/VisitorCommentList?productId=" + productId,
                    success: function (data) {
                        console.log(data);
                        $("#comments").empty();
                        $.each(data, function (index, item) {
                            var rating = item.rating || 0; // Eğer item.rating tanımlı değilse veya null ise varsayılan bir puanlama değeri olan 0'ı kullanın

                            var comment = `<div class="card mt-3">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between">
                                                            <h5 class="card-title">${item.name}</h5>
                                                            <div class="commentlist-rating" id="comment-rating-${index}" data-rating="${rating}">
                                                                <div class="rateYo-${index}"></div>
                                                            </div>
                                                        </div>
                                                        <h6 class="card-subtitle mb-2 text-muted">${item.created}</h6>
                                                        <p class="card-text">${item.comment}</p>
                                                    </div>
                                                </div>`;
                            $("#comments").append(comment);

                            $(".rateYo-" + index).rateYo({
                                rating: rating,
                                readOnly: true,
                                starWidth: "20px"
                            });
                        });
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }

            function saveComment(productId) {
                var name = $("#Name").val();
                var comment = $("#Comment").val();
                var rating = $(".rateYo").rateYo("rating");

                if (rating >= 0 && rating <= 5) {
                    var jsonData = {
                        "name": name,
                        "comment": comment,
                        "productId": productId,
                        "productRating": rating
                    };

                    $.ajax({
                        type: "POST",
                        url: "/Customer/SaveVisitorComment",
                        data: jsonData,
                        success: function (data) {
                            if (data.IsSuccess) {
                                alert("Yorum kaydedildi");
                                $("#Comment").val("");
                                $(".rateYo").rateYo("rating", 0);
                                loadComments(productId);
                                updateGeneralRating(productId);
                            } else {
                                alert(data.Message);
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                } else {
                    alert("Geçersiz puan değeri. Puan 0 ile 5 arasında olmalıdır.");
                }
            }

            $("#btnSave").click(function () {
                var productId = $("#comments").data("product-id");
                saveComment(productId);
            });

            var productId = @Model.Id;
            loadComments(productId);

            $("#general-rating").rateYo({
                rating: @Model.Rating,
                readOnly: true,
                starWidth: "20px"
            });

            $("#comment-rating").rateYo({
                rating: 0,
                starWidth: "20px",
            });
        });
    </script>
}

<div class="container d-flex">
    <aside>
        <img src="@(string.IsNullOrEmpty(Model?.ImagePath) ? "/images/noimage.jpg" : "/images/" + Model.ImagePath)" class="rounded float-left" alt="product-img" style="width:500px; height:500px;">
    </aside>
    <section class="mx-5 col-md-4">
        <header>
            <section>
                <span style="color:orange; font-size:30px;">Ürün ismi</span>
				<h1 class="display-4">@(Model.Name)</h1>
            </section>
            <section>
                <span style="color:orange; font-size:30px;">Ürün kategorisi</span>
				<h2 class="display-4">@(Model.CategoryName)</h2>
            </section>
           
        </header>
        <section>
            <div>
				<span style="color:cornflowerblue; font-size:30px;">
					Ürün fiyatı
				</span>
                <span style="font-size:30px;">@(Model.Price) TL</span>
            </div>
            
            <span style="color:lightseagreen; font-size:30px;">Ürün açıklaması</span>
            <details>
				<article style="color:peachpuff">
					@(Model.Description)
				</article>
            </details> 
        </section>
        <main class="container d-flex">
            @if (User.IsInRole("Customer"))
            {
                <div>
                    <form method="post" asp-controller="Customer" asp-action="AddToList">
                        <input type="hidden" name="productId" value="@Model.Id" />
                        <button type="submit" class="btn btn-success">Liste</button>
                    </form>
                </div>
            }
            @if (User.IsInRole("Customer"))
            {
                <div class="container d-flex" style="position:relative; left:50px;">
                    <form method="post" asp-controller="Customer" asp-action="AddToCart">
                        <input type="hidden" name="productId" value="@Model.Id" />
                        <button type="submit" class="btn btn-info">Sepet</button>
                        <input type="number" name="quantity" value="0" min="1"  style="width:50px;"/>
                    </form>
                </div>


            }
            @if (User.IsInRole("Customer"))
            {
                <div style="position:relative; left:50px;">
                    <form method="post" asp-controller="Customer" asp-action="Checkout">
                        <input type="hidden" name="productId" value="@Model.Id" />
                        <button type="submit" class="btn btn-danger">Satın</button>
                    </form>
                </div>    
            }
            
        </main>
    </section>
</div>

<div class="container mt-5">
    <aside class="row">
        <section class="col-md-4">
            <div>
                <span style="color:orange; font-size:30px;">
					Yayınlanma Tarihi:
				</span>
                <span style="font-size:30px;">
                    @ShortDateTime(Model.PublishDate)
                </span>
            </div>
           <div>
                <span style="color:orange; font-size:30px;">
					Stokta Kalan Adet: 
				</span>
                <span style="font-size:30px">
					@(Model.Quantity)
                </span>
           </div>
        </section>
        <section class="col-md-4">
            <div class="container">
                <label for="general-rating" style="color:orange; font-size:30px;">Genel puan:</label>
                <div id="general-rating"></div>
            </div>
        </section>
    </aside>
</div>
<div class=" mt-5 mb-5">
    <div class="pb-3">
        <h3 style="font-size:30px;">Yorumlar</h3>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
        {
            <label for="Name" class="form-label">Kullanıcı:</label>
            <input class="form-control" id="Name" name="Name" value="@User.Identity.Name" readonly>
        }
        <label for="rating" style="font-size:20px;">Puan ver:</label>
        <div>
            <div class="rateYo" id="comment-rating"></div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <textarea id="Comment" name="Comment" class="form-control" placeholder="Yorum" style="height: 100px"></textarea>
        <label for="Comment">Yorum</label>
    </div>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
    {
        <button id="btnSave" type="button" class="btn btn-primary">Kaydet</button>
    }
    else
    {
        <p>Giriş yaparak yorum yapabilirsiniz.</p>
    }
    <div id="comments" data-product-id="@Model.Id">
    </div>
</div>
@functions{
    public string ShortDateTime(DateTime? time)
    {
        if (time.HasValue)
        {
            var shortTime = time.Value.ToShortDateString();
            return shortTime;
        }

        return string.Empty;
    }
}

